<div class="main users-new">
  <div class="container">
    <div class="form-heading">ログイン</div>
    <div class="form users-form">
      <div class="form-body">
      <div>
        <% if @error_message %>
          <div>
            <%= @error_message.present? ?  @error_message : "なし" %>
          </div>
        <% end %>
       </div>
       <%= form_tag("/login") do %>
        <p>メールアドレス</p>
        <input name="email">
        <p>パスワード</p>
        <input type="password" name="password">
        <input type="submit" value="ログイン">
       <% end %>
      </div>
    </div>
  </div>
</div>